In [50]:
# Libreries
import pandas as pd
import pyvis
from pyvis.network import Network

In [33]:
# Import csv to df
df_stormofswords = pd.read_csv('stormofswords.csv')
df_datasprint2_nodos = pd.read_csv('data_sprint2.csv')

In [37]:
#Inspection df
#print(df_stormofswords.columns)
#print(df_stormofswords.describe)
#print(df_stormofswords.isnull().sum())

print(df_datasprint2_nodos.columns)
print(df_datasprint2_nodos.describe)
print(df_datasprint2_nodos.isnull().sum())

Index(['Name registered', 'Brigade Member', 'Phone', 'Address',
       'Geocoordinates', 'Date registered'],
      dtype='object')
<bound method NDFrame.describe of         Name registered    Brigade Member       Phone  \
0          Juan Jiménez    Rodríguez Luis  5972025344
1           Juan García    Rodríguez Luis  2114167379
2         Pedro Sánchez    Rodríguez Luis  2977446982
3          David García    Rodríguez Luis  3971495041
4        Luis Rodríguez    Rodríguez Luis  7323979694
5       Pedro Fernández    Rodríguez Luis  3374072377
6     Francisco Jiménez    Rodríguez Luis  5495961338
7      Francisco Romero    Rodríguez Luis  9407077578
8    Francisco González    Rodríguez Luis  2483725322
9          Luis Jiménez    Rodríguez Luis  6934935315
10       David González    Rodríguez Luis  2345417996
11         Pedro García    Rodríguez Luis  6608905324
12         Ana Martínez    Rodríguez Luis  9338054741
13     Carlos Rodríguez    Rodríguez Luis  3250699355
14          Pedro López    Rodríguez Luis   798210044
15     Isabel Rodríguez    Juan Fernández  2960170895
16  Francisco Fernández    Juan Fernández  3623154580
17           Juan López    Juan Fernández  2173702567
18          Luis García    Juan Fernández  1818263444
19          Luis Romero    Juan Fernández  8415343220
20        Juan González    Juan Fernández  7770286415
21          María Pérez    Juan Fernández   194990720
22        Luis González    Juan Fernández  1201436686
23          María Pérez    Juan Fernández  2030865088
24        María Sánchez    Juan Fernández  7636130580
25        Ana Fernández    Juan Fernández  7233907746
26       María Martínez    Juan Fernández  3667802677
27   Francisco Martínez    Juan Fernández  9318415732
28       José Fernández    Juan Fernández  6794279252
29    Francisco Jiménez    Juan Fernández  3605179421
30       David Martínez    Juan Fernández  9127033389
31          David López    Juan Fernández  9575941499
32        Juan González  Francisco Romero  9663827547
33         Carlos López  Francisco Romero  6347421320
34       José Fernández  Francisco Romero  7284621456
35          Ana Jiménez  Francisco Romero  8004950715
36     Francisco Romero  Francisco Romero  7803251956
37      David Rodríguez  Francisco Romero  5819162546
38  Francisco Rodríguez  Francisco Romero  6698304901
39      David Fernández  Francisco Romero  7967692193
40          Ana Jiménez  Francisco Romero  9441564773
41       Isabel Jiménez  Francisco Romero  1454739871
42            Ana López  Francisco Romero  2978988074
43   Francisco González  Francisco Romero  2131866761
44          José García  Francisco Romero  7565954581
45      María Rodríguez        Carlos Ana  3731348561
46          Pedro Pérez        Carlos Ana  5753056552
47      Carlos Martínez        Carlos Ana  5907286311
48          María Pérez        Carlos Ana  1895308930
49       María Martínez        Carlos Ana  2115890333

                                              Address  \
0   Calle acqf, Número 655, Colonia qlfj, Ciudad d...
1   Calle zmvo, Número 537, Colonia mwoi, Ciudad d...
2   Calle kqus, Número 168, Colonia asct, Ciudad d...
3   Calle vxhs, Número 544, Colonia sktb, Ciudad d...
4   Calle ryqf, Número 657, Colonia kujp, Ciudad d...
5   Calle ezzj, Número 469, Colonia fnxx, Ciudad d...
6   Calle xmbw, Número 546, Colonia zjrk, Ciudad d...
7   Calle rrfz, Número 577, Colonia ezof, Ciudad d...
8   Calle fadm, Número 950, Colonia usdm, Ciudad d...
9   Calle wopn, Número 518, Colonia tbim, Ciudad d...
10  Calle lmon, Número 943, Colonia sowh, Ciudad d...
11  Calle nneu, Número 546, Colonia lfra, Ciudad d...
12  Calle ickp, Número 373, Colonia enin, Ciudad d...
13  Calle ovnb, Número 65, Colonia pgsc, Ciudad de...
14  Calle hcrl, Número 460, Colonia tibx, Ciudad d...
15  Calle ptzr, Número 694, Colonia etap, Ciudad d...
16  Calle djru, Número 861, Colonia dzmd, Ciudad d...
17  Calle rmaw, Número 944, Colonia ysqg, Ciudad d...
18  Calle rkbx, Número 420, Colonia utci, Ciudad d...
19  Calle cjit, Número 158, Colonia mmte, Ciudad d...
20  Calle sxel, Número 654, Colonia eisr, Ciudad d...
21  Calle ajus, Número 799, Colonia plzr, Ciudad d...
22  Calle tbvc, Número 233, Colonia xjzq, Ciudad d...
23  Calle tddv, Número 608, Colonia ybhh, Ciudad d...
24  Calle xhsv, Número 900, Colonia yxex, Ciudad d...
25  Calle qyry, Número 44, Colonia rmtb, Ciudad de...
26  Calle hrqu, Número 343, Colonia wsoy, Ciudad d...
27  Calle vzxz, Número 93, Colonia sgdd, Ciudad de...
28  Calle xnzs, Número 963, Colonia vocs, Ciudad d...
29  Calle kukr, Número 842, Colonia khob, Ciudad d...
30  Calle flvd, Número 402, Colonia uijm, Ciudad d...
31  Calle bnzi, Número 148, Colonia ubsh, Ciudad d...
32  Calle wmpw, Número 471, Colonia awwx, Ciudad d...
33  Calle iobx, Número 962, Colonia umtb, Ciudad d...
34  Calle qdnt, Número 759, Colonia nnru, Ciudad d...
35  Calle kxzj, Número 127, Colonia feol, Ciudad d...
36  Calle gegh, Número 697, Colonia oklq, Ciudad d...
37  Calle lzkz, Número 177, Colonia xjsx, Ciudad d...
38  Calle ecsr, Número 696, Colonia qoxq, Ciudad d...
39  Calle fnlh, Número 900, Colonia gjuy, Ciudad d...
40  Calle vlae, Número 336, Colonia clyv, Ciudad d...
41  Calle sjpa, Número 264, Colonia wzrx, Ciudad d...
42  Calle hzxy, Número 54, Colonia vfhz, Ciudad de...
43  Calle dyma, Número 618, Colonia knme, Ciudad d...
44  Calle zoto, Número 84, Colonia gcvl, Ciudad de...
45  Calle clhv, Número 690, Colonia slfa, Ciudad d...
46  Calle gacn, Número 997, Colonia vxrj, Ciudad d...
47  Calle jxol, Número 596, Colonia dxyu, Ciudad d...
48  Calle wzal, Número 70, Colonia kucf, Ciudad de...
49  Calle gbgu, Número 916, Colonia njqz, Ciudad d...

             Geocoordinates Date registered
0     20.636858,-103.472197      10/24/2023
1      20.636985,-103.47216      10/24/2023
2   20.6366303,-103.4717074      10/24/2023
3    20.6387863,-103.471555      10/24/2023
4   20.6426109,-103.4778113      10/24/2023
5   20.6353649,-103.4720227      10/24/2023
6   20.6339801,-103.4745096      10/24/2023
7                       NaN      10/24/2023
8    20.638815,-103.4705738      10/24/2023
9    20.6387638,-103.471492      10/28/2023
10  20.6340611,-103.4510817      10/28/2023
11  20.6389301,-103.4721868      10/28/2023
12   20.638337,-103.4715868      10/28/2023
13  20.6366282,-103.4712416      10/28/2023
14  20.6216364,-103.4551927      10/28/2023
15   20.638337,-103.4715868      10/21/2023
16  20.6375985,-103.4711045      10/29/2023
17  20.6379802,-103.4722056      10/29/2023
18   20.635571,-103.4724894      10/21/2023
19  20.6590191,-103.2815504      10/21/2023
20                      NaN      10/21/2023
21                      NaN      10/21/2023
22   20.7525325,-103.365822      10/21/2023
23                      NaN      10/21/2023
24                      NaN      10/29/2023
25   20.6402957,-103.469298      10/29/2023
26                      NaN      10/29/2023
27  20.6409437,-103.4697255      10/29/2023
28                      NaN      10/29/2023
29  -29.9479945,-71.3513873      10/29/2023
30                      NaN      10/29/2023
31                      NaN      10/29/2023
32                      NaN      10/30/2023
33  20.6413847,-103.4701339      10/30/2023
34                      NaN      10/30/2023
35  20.6557955,-103.4211524      10/30/2023
36  20.6387777,-103.4689358      10/30/2023
37  20.6419496,-103.4691453      10/30/2023
38  20.6338134,-103.4697351      10/22/2023
39  20.6413806,-103.4688463      10/22/2023
40  20.6412697,-103.4691534      10/22/2023
41  20.6402039,-103.4693631      10/22/2023
42  20.6431945,-103.4808149      10/22/2023
43   20.644161,-103.4800029      10/22/2023
44  20.6440788,-103.4793704      10/22/2023
45                      NaN      10/31/2023
46                      NaN      10/31/2023
47                      NaN      10/31/2023
48  20.6440788,-103.4793704      10/31/2023
49  20.6466728,-103.4709491      10/31/2023  >
Name registered     0
Brigade Member      0
Phone               0
Address             0
Geocoordinates     14
Date registered     0
dtype: int64

In [63]:
#df_datasprint2_nodos.dropna(inplace=True)
df_datasprint2_nodos.isnull().sum()
df_datasprint2_nodos.duplicated().sum()

# Renombrar las columnas eliminando espacios en blanco
df_datasprint2_nodos = df_datasprint2_nodos.rename(columns=lambda x: x.strip())

In [77]:
# Crear un objeto de red PyVis
grafo = Network(notebook=True, cdn_resources="remote" ,height='800px', width='100%')

# Agrupar los datos por "Brigade Member"
grouped_data = df_datasprint2_nodos.groupby('Brigade Member')

# Agregar nodos
for brigade_member, group in grouped_data:
    for index, row in group.iterrows():
        grafo.add_node(row['Name registered'], title=f"Nombre: {row['Name registered']}<br>Dirección: {row['Address']}<br>Teléfono: {row['Phone']}<br>Fecha de Registro: {row['Date registered']}")

# Agregar conexiones
for brigade_member, group in grouped_data:
    group_list = group['Name registered'].tolist()
    for i in range(len(group_list)):
        for j in range(i + 1, len(group_list)):
            grafo.add_edge(group_list[i], group_list[j])

# Visualizar el grafo
grafo.show("pepe.html")

pepe.html